/* en vrac :
100% 100% 100% 0 auto 
display height flex flex none margin 
max-width width width
*/ 
* {
    box-sizing: border-box;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .carrousel_parent-ecrans {
      display : flex;
      overflow-x: auto;
      width: 100%;
    
    }
    .carrousel_ecran {
        flex: none;
        width: 100%;
    }
    .carrousel_ecran figure {
      margin : 0;
    }